.sidebar_main_con {
    width: 230px;
    transition: all 0.3s ease-out;
    background-color: #015249;
    color: white;
}

.top_bar {
    height: 8vh;
    background-color: #499988;
    color: white;
}

.sidebar_item_con {
    margin-top: 30px;

}

.child_con {
    height: 92vh;
    overflow-y: scroll;
}