.main_sec {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  background-color: #ebeafe;
  /* height: 100%; */
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inner {
  width: 60%;
}

.main-img{
   size: cover;
}

@media only screen and (max-width: 500px) {
  .main_sec {
    display: block;
  }

  .left {
    /* height: 40vh; */
    display: none;
  }

}
